@model MiniProject.Models.Request

@{
    ViewData["Title"] = "Thanks";
}


<div class="text-center">

    <h2>Teşekürler @Model.Name </h2>
    <h4>Kursumuz Güzel olacak</h4>


    <a asp-action="List" class="btn btn-primary">
        Nasıl geldiğini kontrol et..!
    </a>
</div>


